<section>
  <h2 class="example-label md-display-3" style="color: blue; size: 55px;">Sample Application testing 11</h2>
  <div class="example-button-row center">
    <button
      (click)="getAllAlbums()"
      class="md-raised"
      mat-raised-button
      color="primary"
    >
      Get Albums testing
    </button>
  </div>
</section>

<mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
  <mat-chip class="md-body-2" *ngFor="let album of availableAlbums">
    {{ album.title }}
  </mat-chip>
</mat-chip-list>
